@import "variables.css";

.energy__component{
    width:190px;
    height:190px;
    border-radius: 95px;
    background-color: var(--component-background);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:20px;
    border-style: solid;
    border-color: #2ecc71;
}

.energy__component--title{
    color:white;
    font-size:20px;
}

.energy__component--subtitle{
    color:white;
    font-size:17px;
}
