#Mymap{
    width:45%;
    height: 100vh;
}

.map__section{
    width:100vw;
    display:flex;
}

.data__section{
    width:50%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:0px;
}

.data__section__header{
    width: 300px;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: var(--component-background);
    margin-top:20px;
    font-size:20px;
    border: 3px solid;
    border-radius: 8px;
    border-color: black;
}

.data__section__column{
    display: flex;
}